:root{
    --blue: #01a3d8;
    --yellow: #f9ab32;
    --grey: #777;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    line-height: 1.6;
    color: #222;
    font-family:'Times New Roman', Times, serif;
    background-color: var(--blue);
    border: dashed 3px #333;
    border-radius: 15px;
}
button{
    font-family: 'Times New Roman', Times, serif;
}
/*Container Main*/

.container-main{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: dashed 3px #333;
}
.container-main .logo img{
    width: 25vw;
    height: 25vw;
}
.container-main .logo{
    margin-right: 5vw;
}

header{
    background-color: #eee;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    max-width: 60vw;
}
header h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
header h1{
    font-size: 50px;
}
header h2{
    font-style: italic;
    font-size: 25px;
}
h1, h2 {
color: #111;
}
header p{
    font-size: 20px;
}
header div{
    display: flex;
    justify-content:space-evenly;
}
.and{
    font-size: xx-large;
}
.ismail,
.layla{
    color: white;
    border: solid 3px white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}
.ismail{
    background-color: var(--blue);
}
.layla{
    background-color: var(--yellow);
}

/*Transition Bar*/
.transition-bar{
    display: flex;
    justify-content: center;
    border-bottom: dashed 3px #333;
}
.transition-bar button{
    width: fit-content;
    height: 40px;
    color: white;
    background-color: #eee;
    border: solid 3px white;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    font-weight: 600;
    /*box-shadow: rgba(3px, 3px, 3px, 3px, 0.7);*/
}
.transition-bar p{
    margin-top: 25px;
    font-weight: 800;
    font-size: large;
    color: #eee;
}
.transition-bar button:hover{
    background-color: var(--yellow);
}
.transition-bar a{
    text-decoration: none;
    color: #111;
}
/*Container Purpose*/
/*Container Main*/

.container-purpose{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding-bottom: 10vh;
}
.container-purpose h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-purpose .left,
.container-purpose .right{
    width: 40vw;
    margin-right: 7vw;
}
.container-purpose{
    padding-top: 10vh;
    position: relative;
}
.container-purpose p{
    font-size: large;
}
.container-purpose .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    left: -60px;
    top: 75px;
}

/*Container Questions*/

.container-questions{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding-bottom: 10vh;
}
.container-questions h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-questions .left,
.container-questions .right{
    width: 40vw;
    margin-left: 7vw;
}

.container-questions .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    left: -60px;
    top: 75px;
}

.scroll{
    width: fit-content;
    height: 50px;
    color: white;
    background-color: var(--yellow);
    border: none;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    font-weight: 600;
}
.scroll a{
    font-size: large;
    text-decoration: none;
    color: white;
}

/*Head*/
.head{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 0;
    text-align: center;
    background-color: #eee;
}
.head h2{
    margin-bottom: 0;
}
.head .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    top: 15px;
}

/*Container Overview*/


/*Analysis 1*/

.container-overview-1,
.container-overview-2,
.container-overview-3{
    background-color: #eee;
}

.container-overview-1 hr,
.container-overview-2 hr,
.container-overview-3 hr{
    margin: 0;
}

.container-overview-1 .analysis-title{
    margin-left: 7vw;
}
.container-overview-1 .chart,
.container-overview-2 .chart,
.container-overview-3 .chart{
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
}

.container-overview-1 h1 span,
.container-overview-2 h1 span,
.container-overview-3 h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-overview-1 .left,
.container-overview-2 .left,
.container-overview-3 .left{
    width: 30vw;
    margin-left: 5vw;
}
.container-overview-1 .right,
.container-overview-2 .right,
.container-overview-3 .right{
    width: 60vw;
    height: 45vw;
    margin-left: 7vw;
}
.container-overview-1{
    margin-bottom: 0;
}
.container-overview-2,
.container-overview-3{
    padding-top: 0;
}

.container-overview-2 .analysis2-title{
    margin-top: 0;
    margin-left: 7vw;
}
.container-overview-3 .analysis3-title{
    margin-top: 0;
    margin-left: 7vw;
}

.container-overview-1 + hr,
.container-overview-2 + hr{
    margin: 0;
}

iframe {
    width: 100%;
    height: 40vw;
    border: none;
    margin-top: 20px;
}

footer {
margin-top: 80px;
font-size: 0.9em;
color: #666;
}
